.project {
    font-size: 24px;
    line-height: 40px;
    padding: 20px 20px 19px 20px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    display: -webkit-flex;
}

.project__title {
    -webkit-flex: 1;
    padding: 0 20px;
    font-weight: bold;
}


.project__deployment {
  -webkit-flex: 2;
  font-size: 14px;
  color: #999;
}

.project__controls {
  -webkit-flex: 1;
  text-align: right;
}

.project .minibutton {
  display: none;
}

.project:hover .minibutton {
  display: inline-block;
}
